//배경색 & 폰트 색
$font-basic: #222; //기본 배경색
$bg-basic: #eee; //기본 배경색
$font-em: #06978E; //기본 배경색
$bg-em: #2FE9DE; //기본 배경색

//기본색

$black : #000;
$white : #fff;

//폰트

$family-basic: 'PyeongChangPeace';
$font300: 300;
$font700: 700;