    /* slider */
    .slider__wrap {
        width: 100%;
        display: flex;

        align-items: center;
        justify-content: center;

    }

    /* 이미지 보이는 영역 */
    .slider__img {
        position: relative;
        width: 960px;
        height: 360px;
        overflow: hidden;

    }


    .slider::before {
        position: absolute;
        left: 5px;
        top: 5px;
        background-color: rgba(0, 0, 0, 0.4);
        color: #fff;
        padding: 5px 10px;
    }


    .slider img {
        width: 100%;

    }

    /* 이미지를 감싸고 있는 부모 : 움직이는 부분 */
    .slider__inner {
        display: flex;
        flex-wrap: wrap;
        width: 4000px;
        height: 360px;
    }

    /* 개별적인 이미지 */

    .slider {
        position: relative;
        width: 960px;
        height: 360px;
    }

    
    .slider:nth-child(1) {
        z-index: 5;
    }
    .slider:nth-child(2) {
        z-index: 4;
    }
